* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: gray;
}

#fifty {
    font-size: 300px;
    position: absolute;
}

#forkit {
    font-size: 15px;
    position:absolute;
    right: 10px;
    bottom: 2px;
}

#forkit a {
    text-decoration: none;
}

#forkit a:link {
    color: black;
}

#instructions {
    color: gray;
    font-size: 22px;
    font-weight: bold;
    animation: fadeout 5s;
    -webkit-animation: fadeout 5s;
}

@keyframes fadeout {
    0% { color: black; text-shadow: 0 0 10px rgba(0,0,0,0.5)}
    80% {text-shadow: 0 0 70px rgba(0,0,0,0.5)}
    100% {color: gray;}
}

@-webkit-keyframes fadeout {
    0% { color: black; text-shadow: 0 0 10px rgba(0,0,0,0.5)}
    80% {text-shadow: 0 0 70px rgba(0,0,0,0.5)}
    100% {color: gray;}
}

